

body{
    background-color: #b3e9f3;
    font-size: 1rem;
    font-family:"Roboto Mono", monospace;
    font-weight: 700;
  }
 
  img{
    height: 300px;
    width: 500px;
  }

  h1{
    color:#6590d1;

  }